<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipped.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C88DFB31D93602000F26F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C88DFC71D93602100F26F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C88DFD21D93602100F26F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
